.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #f1f1f1; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    font-family: 'Squada One', cursive;
    font-size: 25px;
    text-transform: uppercase;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #818181;
    display: block;
    /* transition: 0.3s; */
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
    background-color: #053C5E;
  }

  #btnfechar:hover{
      background-color: transparent;
      color: #EF233C;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 20px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    color: black;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    color: rgba(255, 255, 255, 0.336);
  }

  @media screen and (min-width: 500px){
    .menu_lateral{
        display: none;
    }
  }
  
